Searching Pubmed's database for papers by using the most common topics found by topic modeling

In [1]:
import pandas as pd
import os

# Loading the CSV file with common strings
strings = pd.read_csv(os.path.join('..','results','common_strings.csv'))
strings

        String  Frequency
0         team         47
1          use         38
2  performance         33
3         base         30
4         data         29

Subset dataset by only retaining keywords of interest

In [6]:
# Subset dataset by only retaining keywords with more than 3 letters that contain no numbers

strings = strings[strings['String'].apply(lambda x: len(x) > 3 and not any(char.isdigit() for char in x))]

# Remove some keywords we deem too generic manually

# List of strings to remove
strings_to_remove = ["base", "time", "tree", "data", "model", "train"]

# Further subsetting the DataFrame by removing specified entries
strings = strings[~strings['String'].isin(strings_to_remove)]
strings

                         String  Frequency
0                          team         47
2                   performance         33
6                       network         24
7                         match         24
8                      football         22
..                          ...        ...
65      classification accuracy          5
66               vector machine          5
69  team performance indicators         10
70    artificial neural network          5
71       support vector machine          5

[61 rows x 2 columns]

Add a column that categorizes each keyword (ML related/statistics, sports related, injury or performance related)

Construct the search command

Search on Pubmed and show results

Compare papers found with papers in the references list